@page 
@model Web_Application.Pages.SingleArtist
@using Helpers 
@{
}


<div class="container">
	<div class="container">
		<div class="row"></div>
		<div class="row">
			<div class="col-md-auto">
				<img src="/@Model.Artist.Image" class="singleUnitImage" />
			</div>
			<div class="col d-flex flex-column">
			
					<div class="mt-auto" >
						<h2>@Model.Artist.Name</h2>
                        <h5>@Model.Artist.ArtistType</h5>
					</div>

				
			</div>
			<div class="col d-flex flex-column text-center">
				<div class="row mt-auto">
					<h4>Average rating:</h4>
				</div>
				<div class="row">
					<h2>@Model.Artist.AvrgRating/10 *</h2>
				</div>
				<div class="row">
					<h3>Total reviews: 1289</h3>
				</div>
                <div class="row d-flex align-items-center">

                    @await Html.PartialAsync("_CreateReviewModalPartial", model: new Models.CreateReviewModel() { ReviewDTO = Model.ReviewDTO, MusicUnitId = Model.Artist.Id })
                    @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
                </div>
			</div>
		</div>
	</div>
</div>


<div class="container">
    <h2>Most Popular Tracks</h2>
    <hr>
    <ol>
        @foreach (var song in Model.Songs.Take(5))
        {
            <div class="card">
                <a class="text-decoration-none text-dark" asp-page="@PageRoutes.SingleSong" asp-route-id="@song.Id">
            <li> @song.Name </li>
                </a>

            </div>
         }
    </ol>
</div>

<div class="container">
    <h2>Discography</h2>
    <hr>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var album in Model.Albums)
        {
            @*<div class="col">
                <div class="card h-100 card-musicUnit">
                    <a class="text-decoration-none text-dark" asp-page="/Single/SingleAlbum" asp-route-id="@album.Id">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/@album.Image" alt="Album Image" class="img-fluid">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">@album.Name</h5>
                                    @foreach (var artist in album.Artists)
                                    {
                                        <p class="card-text">@artist.Name</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>*@



        <div class="card" style="width: 13rem;">
            <a class="text-decoration-none text-dark" asp-page="@PageRoutes.SingleAlbum" asp-route-id="@album.Id">
                <img class="card-img-top" src="/@album.Image" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@album.Name</h5>
                    @foreach (var artist in album.Artists)
                    {
                        <p class="card-text">@artist.Name</p>
                    }
                </div>
                </a>
        </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Top Reviews</h2>
        @foreach (var r in Model.Reviews)
        {
           @await Html.PartialAsync("_ReviewCardPartial", model: r)

        }
    </div>
</div>
