@page 
@model Web_Application.Pages.SingleArtist
@{
}


<div class="container">
	<div class="container">
		<div class="row"></div>
		<div class="row">
			<div class="col-md-auto">
				<img src="/@Model.Artist.Image" class="singleUnitImage" />
			</div>
			<div class="col d-flex flex-column">
			
					<div class="mt-auto" >
						<h2>@Model.Artist.Name</h2>
                        <h5>@Model.Artist.ArtistType</h5>
					</div>

				
			</div>
			<div class="col d-flex flex-column text-center">
				<div class="row mt-auto">
					<h4>Average rating:</h4>
				</div>
				<div class="row">
					<h2>@Model.Artist.AvrgRating/10 *</h2>
				</div>
				<div class="row">
					<h3>Total reviews: 1289</h3>
				</div>
				<div class="row d-flex align-items-center">
                    <!--
					<a class="btn btn-secondary btn-lg active" asp-page="/WriteReview">Review</a>
                     Button trigger modal -->
                    <button type="button" class="btn btn-secondary btn-lg active" data-bs-toggle="modal" data-bs-target="#reviewModal">
                        Write a Review
                    </button>

                    <!-- Review Modal -->
                    <div class="modal fade show" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="reviewModalLabel">Write a Review</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body text-start">
                                    <form method="post">
                                        <input type="hidden" asp-for="@Model.Artist.Id" />
                                        <div class="mb-3">
                                            <label asp-for="ReviewDTO.Title" class="form-label">Title</label>
                                            <input asp-for="ReviewDTO.Title" type="text" class="form-control" id="reviewTitle">
                                            <span asp-validation-for="ReviewDTO.Title" class="text text-danger"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label asp-for="ReviewDTO.Description" class="form-label">Description</label>
                                            <textarea asp-for="ReviewDTO.Description" class="form-control" id="reviewDescription" rows="3"></textarea>
                                            <span asp-validation-for="ReviewDTO.Description" class="text text-danger"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label asp-for="ReviewDTO.Rating" class="form-label">Rating</label>
                                            <select asp-for="ReviewDTO.Rating" class="form-select" id="reviewRating">
                                                <option value="">Choose a rating...</option>
                                                <option value="5">5.1</option>
                                                <option value="4">4.3</option>
                                                <option value="3">3.9</option>
                                                <option value="2">2.1</option>
                                                <option value="1">1.9</option>
                                            </select>
                                            <span asp-validation-for="ReviewDTO.Rating" class="text text-danger"></span>
                                        </div>
                                        
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-primary">Submit Review</button>
                                        </div>
                                    </form>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    @section Scripts {
                        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                    }

				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
    <h2>Other Albums by the Artist</h2>
    <hr>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var album in Model.Albums)
            {
            <div class="col">
                <div class="card h-100 card-musicUnit">
                    <a class="text-decoration-none text-dark" asp-page="/Single/SingleAlbum" asp-route-id="@album.Id">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/@album.Image" alt="Album Image" class="img-fluid">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">@album.Name</h5>
                                    @foreach (var artist in album.Artists)
                                    {
                                        <p class="card-text">@artist.Name</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            }
        </div>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Reviews</h2>
        @foreach (var r in Model.Reviews)
        {
            <div class="card">

                <div class="row reviewCardTop">

                    <div class="col-md-auto">
                        <img src="/@r.MusicUnit.Image"
                             class="img-fluid rounded-start reviewImg"
                             alt="Album cover image"
                             id="test-image" />
                    </div>

                    <div class="col-md-auto">
                        <div class="row">
                            <p class="card-subtitle mb-1 text-muted">
                                @r.Creator.Username
                            </p>
                        </div>
                        <h5 class="card-title">
                            @r.Title
                        </h5>
                        <!-- <h6 class="card-subtitle mb-2 text-muted">
         Kanye West
     </h6>-->
                    </div>
                    <div class="col">
                        <div class="card-text d-flex align-items-center h-100 justify-content-end text-end">
                            @r.Rating/10
                        </div>
                    </div>

                </div>
                <div class="col-md-auto">
                    <div class="card-body">
                        <p class="card-text" id="long-text">
                            @r.Description
                        </p>

                        <p class="card-text">
                            <small class="text-muted">45 Likes</small>
                        </p>
                        <a href="#" class="btn btn-primary">Like</a>

                    </div>
                </div>
            </div>


        }
    </div>
</div>
