@page
@using Microsoft.AspNetCore.Http
@using Helpers
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->

<div class="row mt-5">
    <div class="col-12 text-center">
        <h1 class="display-4 text-purple">MusicMaven</h1>
        <p class="lead">
            A web-based social platform for music lovers to share
            opinions and thoughts on the latest album releases,
            songs, and artists.
        </p>

        @if (@User.Identity.IsAuthenticated)
        {
            <p>Welcome, @User.Identity.Name!</p>
        }
        else
        {
            <p>Welcome, Anonymous!</p>
        }
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 order-sm-first order-last">
            <h2>Reviews</h2>
            <div class="">
                @foreach (var r in Model.Reviews)
                 {
                    @await Html.PartialAsync("_ReviewCardPartial", model: r);
                 }
            </div>
        </div>

        <div class="col-md-4">
            <h2>Top Artists</h2>
            <div class="">
                @foreach (var artist in Model.Artists)
                {
                    <div class="card">
                        <a class="text-decoration-none text-dark" asp-page="@PageRoutes.SingleArtist" asp-route-id="@artist.Id">
                            <div class="row no-gutters">

                                <div class="col-md-4">
                                    <img src="/@artist.Image" class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">@artist.Name</h5>
                                        <p class="card-text">@artist.ArtistType</p>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                }
            </div>

            <h3>New releases</h3>
            <div>
                @foreach (var album in Model.NewAlbums)
                {
                    <div class="card">
                        <a class="text-decoration-none text-dark" asp-page="@PageRoutes.SingleAlbum" asp-route-id="@album.Id">
                            <div class="row no-gutters">

                                <div class="col-md-4">
                                    <img src="/@album.Image" class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">@album.Name</h5>
                                        <p class="card-text">@album.Genre</p>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

