@using Microsoft.AspNetCore.Http
@using Helpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web_Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web_Application.styles.css" asp-append-version="true" />
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">

            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="@PageRoutes.Index">MusicMaven</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav mx-auto">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle custom-link-nav"
                               href="#"
                               id="navbarDropdownMenuLink"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                Music
                            </a>
                            <div class="dropdown-menu"
                                 aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/Top100">Top 100 Albums</a>
                                <a class="dropdown-item" href="#">Top 100 Artists</a>
                                <a class="dropdown-item" href="#">Top 100 Songs</a>
                            </div>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-link-nav" asp-area="" asp-page="@PageRoutes.MultipleReviews">Reviews</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle custom-link-nav"
                               href="#"
                               id="navbarDropdownMenuLink"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                More
                            </a>
                            <div class="dropdown-menu"
                                 aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">About</a>
                                <a class="dropdown-item" href="#">Contact</a>
                            </div>

                        </li>
                    </ul>
                <ul class="navbar-nav ml-auto d-flex align-items-center">
                    @if (Context.User.FindFirst("Id") != null)
                    {

                        <li class="nav-item">
                            <form method="post" asp-page="@PageRoutes.Logout">
                                <a class="nav-link custom-link-nav" onclick="this.closest('form').submit(); return false;" asp-area="">Logout</a>
                            </form>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-link-nav" asp-area="" asp-page="@PageRoutes.Profile" asp-route-id="@Context.User.FindFirst("Id").Value">Profile</a>
                        </li>


                                            }
                    else
                    {

                        <li class="nav-item">
                            <a class="nav-link custom-link-nav" asp-area="" asp-page="@PageRoutes.SignIn">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-link-nav" asp-area="" asp-page="@PageRoutes.SignUp">Sign Up</a>
                        </li>

                                           }
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0" method="get" asp-page="@PageRoutes.Search" asp-page-handler="Search">
                        <div class="input-group">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="searchString">
                            <div class="input-group-append">
                                <button class="btn btn-outline-light" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </li>
                </ul>
                        

                </div>
            </div>
        </nav>


    </header>
    <div class="container">
        <main role="main" class="pb-3">

            @RenderBody()

        </main>
    </div>

    <style>
    </style>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>