@model DTOs.ReviewDTO
@using Helpers 
<div class="card">

    <div class="row reviewCardTop">

        <div class="col-4 col-md-auto">
            <img src="@Model.MusicUnit.Image"
                 class="img-fluid rounded-start reviewImg"
                 alt="Album cover image"
                 id="test-image" />
        </div>

        <div class="col-8 col-md-auto">
            <div class="row">
                <p class="card-subtitle mb-1 text-muted">
                    @Model.Creator.Username
                </p>
            </div>
            <h5 class="card-title">
                @Model.Title
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
                @Model.MusicUnit.Name
            </h6>
            <h7 class="card-subtitle mb-2 text-muted">
                @Model.MusicUnit.Type
            </h7>
        </div>

        <div class="col-12 mt-3">
            <div class="card-text d-flex align-items-center h-100 justify-content-end text-end">
                @Model.Rating/10
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <div class="card-body">
                <p class="card-text" id="long-text">
                    @Model.Description
                </p>

                <p class="card-text">
                    <small class="text-muted">@Model.LikedBy.Count Likes</small>
                </p>
                <form method="post" asp-page="@PageRoutes.LikeReview" asp-page-handler="LikeReview" asp-route-reviewId="@Model.Id">
                    <button class="btn btn-primary" type="submit">Like</button>
                </form>

            </div>
        </div>
    </div>

</div>